@import "tailwindcss";

@theme {
  /* === Font Sizes === */
  /* @link https://utopia.fyi/type/calculator?c=350,15,1.25,1440,17,1.25,10,3,&s=0.75|0.5|0.25,1.5|2|3|4|6|8|10,s-l&g=s,l,xl,12 */

  /* Step -3: 7.68px → 8.704px */
  --text--3: clamp(0.48rem, 0.4594rem + 0.0939vw, 0.544rem);
  /* Step -2: 9.6px → 10.88px */
  --text--2: clamp(0.6rem, 0.5743rem + 0.1174vw, 0.68rem);
  /* Step -1: 12px → 13.6px */
  --text--1: clamp(0.75rem, 0.7179rem + 0.1468vw, 0.85rem);
  /* Step 0: 15px → 17px */
  --text-0: clamp(0.9375rem, 0.8974rem + 0.1835vw, 1.0625rem);
  /* Step 1: 18.75px → 21.25px */
  --text-1: clamp(1.1719rem, 1.1217rem + 0.2294vw, 1.3281rem);
  /* Step 2: 23.4375px → 26.5625px */
  --text-2: clamp(1.4648rem, 1.4021rem + 0.2867vw, 1.6602rem);
  /* Step 3: 29.2969px → 33.2031px */
  --text-3: clamp(1.8311rem, 1.7527rem + 0.3584vw, 2.0752rem);
  /* Step 4: 36.6211px → 41.5039px */
  --text-4: clamp(2.2888rem, 2.1908rem + 0.448vw, 2.594rem);
  /* Step 5: 45.7764px → 51.8799px */
  --text-5: clamp(2.861rem, 2.7385rem + 0.56vw, 3.2425rem);
  /* Step 6: 57.2205px → 64.8499px */
  --text-6: clamp(3.5763rem, 3.4232rem + 0.6999vw, 4.0531rem);
  /* Step 7: 71.5256px → 81.0623px */
  --text-7: clamp(4.4703rem, 4.279rem + 0.8749vw, 5.0664rem);
  /* Step 8: 89.407px → 101.3279px */
  --text-8: clamp(5.5879rem, 5.3487rem + 1.0937vw, 6.333rem);
  /* Step 9: 111.7587px → 126.6599px */
  --text-9: clamp(6.9849rem, 6.6859rem + 1.3671vw, 7.9162rem);
  /* Step 10: 139.6984px → 158.3248px */
  --text-10: clamp(8.7311rem, 8.3573rem + 1.7088vw, 9.8953rem);

  /* === Spacing === */
  /* @link https://utopia.fyi/space/calculator?c=350,15,1.25,1440,17,1.25,10,3,&s=0.75|0.5|0.25,1.5|2|3|4|6|8|10,s-l|m-xl|l-2xl|xl-3xl|xs-m|2xs-s|3xs-xs|2xl-4xl|3xl-5xl&g=s,l,xl,12 */
  --space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-2xs: clamp(0.5rem, 0.4799rem + 0.0917vw, 0.5625rem);
  --space-xs: clamp(0.6875rem, 0.6474rem + 0.1835vw, 0.8125rem);
  --space-s: clamp(0.9375rem, 0.8974rem + 0.1835vw, 1.0625rem);
  --space-m: clamp(1.4375rem, 1.3773rem + 0.2752vw, 1.625rem);
  --space-l: clamp(1.875rem, 1.7947rem + 0.367vw, 2.125rem);
  --space-xl: clamp(2.8125rem, 2.6921rem + 0.5505vw, 3.1875rem);
  --space-2xl: clamp(3.75rem, 3.5894rem + 0.7339vw, 4.25rem);
  --space-3xl: clamp(5.625rem, 5.3842rem + 1.1009vw, 6.375rem);
  --space-4xl: clamp(7.5rem, 7.1789rem + 1.4679vw, 8.5rem);
  --space-5xl: clamp(9.375rem, 8.9736rem + 1.8349vw, 10.625rem);
  --space-6xl: clamp(11.25rem, 10.7736rem + 2.2019vw, 12.75rem);
  --space-7xl: clamp(13.125rem, 12.5736rem + 2.5688vw, 14.875rem);
  --space-8xl: clamp(15rem, 14.3736rem + 2.9358vw, 17rem);
  --space-9xl: clamp(16.875rem, 16.1736rem + 3.3028vw, 19.125rem);
  --space-10xl: clamp(18.75rem, 17.9736rem + 3.6698vw, 21.25rem);
  --space-11xl: clamp(20.625rem, 19.7736rem + 4.0368vw, 23.375rem);
  --space-12xl: clamp(22.5rem, 21.5736rem + 4.4038vw, 25.5rem);
  --space-13xl: clamp(24.375rem, 23.3736rem + 4.7707vw, 27.625rem);
  --space-14xl: clamp(26.25rem, 25.1736rem + 5.1377vw, 29.75rem);
  --space-15xl: clamp(28.125rem, 26.9736rem + 5.5047vw, 31.875rem);
  --space-16xl: clamp(30rem, 28.7736rem + 5.8717vw, 34rem);
  --space-17xl: clamp(31.875rem, 30.5736rem + 6.2386vw, 36.125rem);
  --space-18xl: clamp(33.75rem, 32.3736rem + 6.6056vw, 38.25rem);
  --space-19xl: clamp(35.625rem, 34.1736rem + 6.9725vw, 40.375rem);
  --space-20xl: clamp(37.5rem, 36.0736rem + 7.3394vw, 42.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1497rem + 0.4587vw, 0.5625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3997rem + 0.4587vw, 0.8125rem);
  --space-xs-s: clamp(0.6875rem, 0.5671rem + 0.5505vw, 1.0625rem);
  --space-s-m: clamp(0.9375rem, 0.7167rem + 1.0092vw, 1.625rem);
  --space-m-l: clamp(1.4375rem, 1.2167rem + 1.0092vw, 2.125rem);
  --space-l-xl: clamp(1.875rem, 1.4536rem + 1.9266vw, 3.1875rem);
  --space-xl-2xl: clamp(2.8125rem, 2.3509rem + 2.1101vw, 4.25rem);
  --space-2xl-3xl: clamp(3.75rem, 2.9071rem + 3.8532vw, 6.375rem);
  --space-3xl-4xl: clamp(5.625rem, 4.7018rem + 4.2202vw, 8.5rem);
  --space-4xl-5xl: clamp(7.5rem, 6.4966rem + 4.5872vw, 10.625rem);

  /* Custom pairs */
  --space-xs-m: clamp(0.6875rem, 0.3865rem + 1.3761vw, 1.625rem);
  --space-2xs-s: clamp(0.5rem, 0.3194rem + 0.8257vw, 1.0625rem);
  --space-s-l: clamp(0.9375rem, 0.5562rem + 1.7431vw, 2.125rem);
  --space-m-xl: clamp(1.4375rem, 0.8756rem + 2.5688vw, 3.1875rem);
  --space-l-2xl: clamp(1.875rem, 1.1124rem + 3.4862vw, 4.25rem);
  --space-xl-3xl: clamp(2.8125rem, 1.6686rem + 5.2294vw, 6.375rem);
  --space-3xs-xs: clamp(0.25rem, 0.0694rem + 0.8257vw, 0.8125rem);
  --space-2xl-4xl: clamp(3.75rem, 2.2248rem + 6.9725vw, 8.5rem);
  --space-3xl-5xl: clamp(5.625rem, 4.0195rem + 7.3394vw, 10.625rem);

  /* === Colors === */
  --color-white: #fffdfd;
  --color-black: #1d0101;
  --color-maroon: #851d15;
  --color-maroon-500: rgba(128, 0, 32, 0.5);
  --color-maroon-800: rgba(128, 0, 32, 0.8);
  --color-red: #cd2214;
  --color-grey: #303030;
  --color-dark-grey: #181414;

  --color-background: var(--color-white);
  --color-foreground: var(--color-black);

  /* === Round === */
  --round-s: 0.25rem;
  --round-m: 0.5rem;
  --round-l: 1rem;
  --round-xl: 1.5rem;
  --round-2xl: 2rem;
  --round-3xl: 3rem;
  --round-4xl: 4rem;
  --round-5xl: 5rem;

  /* === Border Radius === */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;

  /* === Animations === */
  --ease-smooth: cubic-bezier(0.4, 0.15, 0.6, 0.85);
  --elastic: cubic-bezier(0.52, 1.27, 0.72, 1);

  /* === Pre-calculations === */
  --navbar-height: calc(0rem);
  --min-page-height: calc(100dvh - var(--navbar-height));

  /* === Shadows === */
  --shadow-sm: 0 0 3px 0 rgba(0, 0, 0, 0.12);
  --shadow-md: 0 0 8px 0 rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 0 16px 0 rgba(0, 0, 0, 0.15);
}

@layer base {
  ::selection {
    color: var(--color-white);
    background: var(--color-maroon-800);
  }

  body {
    background: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-syne), Arial, Helvetica, sans-serif, sans-serif;
    font-variant-numeric: lining-nums;
    line-height: 1.6;
  }

  main {
    margin-top: var(--navbar-height);
    min-height: calc(100dvh - var(--navbar-height));
  }

  section {
    margin-bottom: var(--space-xl);
  }

  button {
    cursor: pointer;
  }
}

@layer components {
  .regular {
    font-weight: 400;
  }

  .medium {
    font-weight: 500;
  }

  .semi-bold {
    font-weight: 600;
  }

  .bold {
    font-weight: 700;
  }

  .letter-spacing-0 {
    letter-spacing: 0;
  }

  .letter-spacing-1 {
    letter-spacing: 0.01rem;
  }

  .letter-spacing-2 {
    letter-spacing: 0.02rem;
  }

  .letter-spacing-3 {
    letter-spacing: 0.03rem;
  }

  .letter-spacing-4 {
    letter-spacing: 0.04rem;
  }

  .letter-spacing-5 {
    letter-spacing: 0.05rem;
  }

  .letter-spacing-6 {
    letter-spacing: 0.06rem;
  }

  .letter-spacing-7 {
    letter-spacing: 0.07rem;
  }

  .letter-spacing-8 {
    letter-spacing: 0.08rem;
  }

  .letter-spacing-9 {
    letter-spacing: 0.09rem;
  }

  .letter-spacing-10 {
    letter-spacing: 0.1rem;
  }

  .line-height-09 {
    line-height: 0.9;
  }

  .line-height-1 {
    line-height: 1;
  }

  .line-height-11 {
    line-height: 1.1;
  }

  .line-height-12 {
    line-height: 1.2;
  }

  .line-height-13 {
    line-height: 1.3;
  }

  .line-height-14 {
    line-height: 1.4;
  }

  .line-height-15 {
    line-height: 1.5;
  }

  .line-height-16 {
    line-height: 1.6;
  }

  /* Custom scrollbar styling */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-maroon) rgba(0, 0, 0, 0.1);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-maroon);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-red);
    background-clip: padding-box;
  }
}
